In [1]:
# Import Library
import numpy as np
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

In [2]:
df=pd.read_csv('D:/Projects/github/Lecture5/data/raw/50.861781_4.457452_Solcast_PT60M.csv')
df.head()

,PeriodEnd,PeriodStart,Period,AirTemp,Azimuth,CloudOpacity,DewpointTemp,Dhi,Dni,Ebh,...,GtiFixedTilt,GtiTracking,PrecipitableWater,RelativeHumidity,SnowWater,SurfacePressure,WindDirection10m,WindSpeed10m,Zenith,AlbedoDaily
0,2018-12-31T02:00:00Z,2018-12-31T01:00:00Z,PT60M,8.2,-46,79.0,8.0,0,0,0,...,0,0,15.5,98.3,0.0,1023.9,283,3.4,145,0.15
1,2018-12-31T03:00:00Z,2018-12-31T02:00:00Z,PT60M,8.0,-65,82.0,7.7,0,0,0,...,0,0,15.0,98.1,0.0,1024.0,284,3.6,138,0.15
2,2018-12-31T04:00:00Z,2018-12-31T03:00:00Z,PT60M,7.9,-79,81.4,7.6,0,0,0,...,0,0,14.5,98.0,0.0,1024.0,286,3.6,129,0.15
3,2018-12-31T05:00:00Z,2018-12-31T04:00:00Z,PT60M,7.8,-91,79.0,7.5,0,0,0,...,0,0,14.0,98.0,0.0,1024.0,288,3.5,119,0.15
4,2018-12-31T06:00:00Z,2018-12-31T05:00:00Z,PT60M,7.8,-103,79.0,7.5,0,0,0,...,0,0,13.6,98.1,0.0,1024.0,291,3.4,110,0.15

In [3]:
df.columns.tolist()

['PeriodEnd',
 'PeriodStart',
 'Period',
 'AirTemp',
 'Azimuth',
 'CloudOpacity',
 'DewpointTemp',
 'Dhi',
 'Dni',
 'Ebh',
 'Ghi',
 'GtiFixedTilt',
 'GtiTracking',
 'PrecipitableWater',
 'RelativeHumidity',
 'SnowWater',
 'SurfacePressure',
 'WindDirection10m',
 'WindSpeed10m',
 'Zenith',
 'AlbedoDaily']

In [4]:
# select some of the features from the DataFrame
df = df[['PeriodEnd', 'PeriodStart', 'AirTemp', 'Dhi', 'Dni', 'Ghi',
       'PrecipitableWater', 'RelativeHumidity', 'SurfacePressure',
       'WindDirection10m', 'WindSpeed10m']]

In [5]:
df.rename(columns={'AirTemp':'Temperature','Dhi':'DHI','Dni':'DNI','Ghi':'Radiation',\
    'PrecipitableWater':'Precipitation','RelativeHumidity':'Humidity',\
    'SurfacePressure':'Pressure','WindDirection10m':'WindDirection','WindSpeed10m':'WindSpeed'},inplace=True)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25989 entries, 0 to 25988
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PeriodEnd      25989 non-null  object
 1   PeriodStart    25989 non-null  object
 2   Temperature    25989 non-null  float64
 3   DHI            25989 non-null  int64
 4   DNI            25989 non-null  int64
 5   Radiation      25989 non-null  int64
 6   Precipitation  25989 non-null  float64
 7   Humidity       25989 non-null  float64
 8   Pressure       25989 non-null  float64
 9   WindDirection  25989 non-null  int64
 10  WindSpeed      25989 non-null  float64
dtypes: float64(5), int64(4), object(2)
memory usage: 2.2+ MB

In [7]:
# Change the type of data types of DataFrame Columns
df['Radiation']     = df['Radiation'].astype(float)
df['Temperature']   = df['Temperature'].astype(float) # or int
df['Pressure']      = df['Pressure'].astype(float)
df['Humidity']      = df['Humidity'].astype(int) # or int
df['WindDirection'] = df['WindDirection'].astype(float)
df['WindSpeed']     = df['WindSpeed'].astype(float)
df['PeriodStart'] = pd.to_datetime(df['PeriodStart']).dt.to_period('T').dt.to_timestamp()
df['PeriodEnd'] = pd.to_datetime(df['PeriodEnd']).dt.to_period('T').dt.to_timestamp()

In [8]:
# Create a new column for Year and Hour
df['YearPS'] = pd.to_datetime(df['PeriodStart']).dt.year
df['YearPE'] = pd.to_datetime(df['PeriodEnd']).dt.year

df['MonthPS'] = pd.to_datetime(df['PeriodStart']).dt.month
df['MonthPE'] = pd.to_datetime(df['PeriodEnd']).dt.month

df['HourPS'] = pd.to_datetime(df['PeriodStart']).dt.hour
df['HourPE'] = pd.to_datetime(df['PeriodEnd']).dt.hour

In [9]:
df.tail(4)

,PeriodEnd,PeriodStart,Temperature,DHI,DNI,Radiation,Precipitation,Humidity,Pressure,WindDirection,WindSpeed,YearPS,YearPE,MonthPS,MonthPE,HourPS,HourPE
25985,2021-12-17 19:00:00,2021-12-17 18:00:00,6.5,0,0,0.0,15.1,90,1032.4,71.0,4.3,2021,2021,12,12,18,19
25986,2021-12-17 20:00:00,2021-12-17 19:00:00,6.9,0,0,0.0,14.1,88,1032.5,74.0,4.6,2021,2021,12,12,19,20
25987,2021-12-17 21:00:00,2021-12-17 20:00:00,7.2,0,0,0.0,13.7,85,1032.5,74.0,4.8,2021,2021,12,12,20,21
25988,2021-12-17 22:00:00,2021-12-17 21:00:00,7.5,0,0,0.0,13.6,83,1032.4,74.0,4.9,2021,2021,12,12,21,22

In [10]:
# Create a function for Sunrise and Sunset
def time_to_sunrise(row):
    value=0
    if row['HourPS']==4 and row['HourPE']==5 and row['Radiation']>0:
        value='05:00:00'
    elif row['HourPS']==5 and row['HourPE']==6 and row['Radiation']>0:
        value='06:00:00'
    return value

def time_to_sunset(row):
    value=0
    if row['HourPS']==17 and row['HourPE']==18 and row['Radiation']>0:
        value='18:00:00'
    elif row['HourPS']==18 and row['HourPE']==19 and row['Radiation']>0:
        value='19:00:00'
    return value

In [11]:
df['Sunrise'] = df.apply(time_to_sunrise, axis=1)
df['Sunset'] = df.apply(time_to_sunset, axis=1)

In [12]:
df.head(4)

,PeriodEnd,PeriodStart,Temperature,DHI,DNI,Radiation,Precipitation,Humidity,Pressure,WindDirection,WindSpeed,YearPS,YearPE,MonthPS,MonthPE,HourPS,HourPE,Sunrise,Sunset
0,2018-12-31 02:00:00,2018-12-31 01:00:00,8.2,0,0,0.0,15.5,98,1023.9,283.0,3.4,2018,2018,12,12,1,2,0,0
1,2018-12-31 03:00:00,2018-12-31 02:00:00,8.0,0,0,0.0,15.0,98,1024.0,284.0,3.6,2018,2018,12,12,2,3,0,0
2,2018-12-31 04:00:00,2018-12-31 03:00:00,7.9,0,0,0.0,14.5,98,1024.0,286.0,3.6,2018,2018,12,12,3,4,0,0
3,2018-12-31 05:00:00,2018-12-31 04:00:00,7.8,0,0,0.0,14.0,98,1024.0,288.0,3.5,2018,2018,12,12,4,5,0,0

In [13]:
df_new = df.loc[~((df['Radiation'] == 0) & (df['DNI'] == 0) & (df['DHI'] == 0)),:]

In [14]:
df_new['Date'] = pd.to_datetime(df_new['PeriodEnd']).dt.normalize()

In [15]:
dt_series = pd.to_datetime(df_new['Date'])
dt_index = pd.DatetimeIndex(dt_series.values)
df_new1 = df_new.set_index(dt_index)
df_new1['Daily_radiation'] = df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['Radiation'].mean()
df_new1['Daily_DNI'] = df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['DNI'].mean()
df_new1['Daily_DHI'] = df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['DHI'].mean()
df_new1['Daily_Temp'] = df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['Temperature'].mean()
df_new1['Daily_Precip'] = df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['Precipitation'].mean()
df_new1['Daily_Humidity'] = df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['Humidity'].mean()
df_new1['Daily_Pressure'] = df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['Pressure'].mean()
df_new1['Daily_WindDir'] = df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['WindDirection'].mean()
df_new1['Daily_WindSpeed'] = df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['WindSpeed'].mean()

In [16]:
# Drop Not Important columns
new_df= df_new1.drop(['PeriodStart', 'YearPS', 'HourPS', 'HourPE', 'Sunrise', 'Sunset', 'MonthPS', 'YearPE'], axis= 1)

In [17]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 13915 entries, 2018-12-31 to 2021-12-17
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   PeriodEnd        13915 non-null  datetime64[ns]
 1   Temperature      13915 non-null  float64
 2   DHI              13915 non-null  int64
 3   DNI              13915 non-null  int64
 4   Radiation        13915 non-null  float64
 5   Precipitation    13915 non-null  float64
 6   Humidity         13915 non-null  int32
 7   Pressure         13915 non-null  float64
 8   WindDirection    13915 non-null  float64
 9   WindSpeed        13915 non-null  float64
 10  MonthPE          13915 non-null  int64
 11  Date             13915 non-null  datetime64[ns]
 12  Daily_radiation  13915 non-null  float64
 13  Daily_DNI        13915 non-null  float64
 14  Daily_DHI        13915 non-null  float64
 15  Daily_Temp       13915 non-null  float64
 16  Daily_Precip     13915 non-null  float64
 17  Daily_Humidity   13915 non-null  float64
 18  Daily_Pressure   13915 non-null  float64
 19  Daily_WindDir    13915 non-null  float64
 20  Daily_WindSpeed  13915 non-null  float64
dtypes: datetime64[ns](2), float64(15), int32(1), int64(3)
memory usage: 2.3 MB

In [18]:
final_df= new_df[['MonthPE', 'Date','Daily_Temp','Daily_Precip', 'Daily_Humidity', 'Daily_Pressure',\
                  'Daily_WindDir','Daily_WindSpeed','Daily_DNI', 'Daily_DHI','Daily_radiation']]
final_df.head(5)

,MonthPE,Date,Daily_Temp,Daily_Precip,Daily_Humidity,Daily_Pressure,Daily_WindDir,Daily_WindSpeed,Daily_DNI,Daily_DHI,Daily_radiation
2018-12-31,12,2018-12-31,8.0375,10.7,95.25,1024.725,292.5,2.575,0.0,32.75,32.75
2018-12-31,12,2018-12-31,8.0375,10.7,95.25,1024.725,292.5,2.575,0.0,32.75,32.75
2018-12-31,12,2018-12-31,8.0375,10.7,95.25,1024.725,292.5,2.575,0.0,32.75,32.75
2018-12-31,12,2018-12-31,8.0375,10.7,95.25,1024.725,292.5,2.575,0.0,32.75,32.75
2018-12-31,12,2018-12-31,8.0375,10.7,95.25,1024.725,292.5,2.575,0.0,32.75,32.75

In [19]:
final_df.to_csv('D:/Projects/github/Lecture5/data/clean/cleaned_solar_irradiation.csv')